{% extends '@SingApp/layouts/base.html.twig' %}


{% block body %}
    <div class="container login">
        <div class="login-form">
            <div class="form-signin-heading">
                <span>Truelocal new account</span>
            </div>
            <form name="truelocal" method="post">
                <div>
                    <label for="truelocal_first_name" class="required">Profile name</label>
                    <input type="text" id="truelocal_first_name" name="truelocal[name]" required="required"
                           class="form-control">
                </div>
                <div>
                    <label for="truelocal_email" class="required">Email</label>
                    <input type="text" id="truelocal_email" name="truelocal[email]" required="required"
                           class="form-control">
                </div>
                <div>
                    <label for="truelocal_userPassword" class="required">Password</label>
                    <input type="password" id="truelocal_userPassword" name="truelocal[userPassword]" required="required"
                           class="form-control">
                </div>
                <div>
                    <button type="submit" class="form-control form-button btn-primary">Create</button>
                </div>
                <a href="{{ url('truelocal-auth', app.request.query.all) }}" style="float:right">Back to login</a>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        {% if error is defined %}
        $.notify({
            title: "<strong>Error!</strong> ",
            message: '{{ error }}<a href="{{ url('index', app.request.query.all) }}" style="float:right">Back to login</a>'
        }, {
            type: 'danger',
            delay: 5000
        });
        {% endif %}
    </script>
{% endblock %}