{% extends '@SingApp/layouts/base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="products">
        {% include '@SingApp/layouts/navigation.html.twig' %}
        <div class="message">

        </div>
        </div>
    {% endif %}

{% endblock %}