{% extends '@SingApp/layouts/base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="products">
            <div class="messages">
                <h2 style="text-align: center">Add new business</h2>
                <div class="card add-business-block">
                    {% include '@SingApp/modal/busines-info-modal.html.twig' with {'form': form} %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
