{% extends '@SingApp/layouts/base.html.twig' %}
{% block body %}
{% endblock %}
{% block modal %}
    <div class="modal fade in" style="display: block; padding-right: 15px;" id="createFirstBusinessModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add your first business business</h4>
                </div>
                {{ form_start(form) }}
                <div class="modal-body">
                    {{ form_widget(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}