<div class="modal fade" id="createPost" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create posts</h4>
            </div>
            {% include '@SingApp/modal/post-services/post-'~service~'.html.twig'  with {'massage' : massage} %}
        </div>
    </div>
</div>
