{% extends '@SingApp/layouts/base.html.twig' %}
{% block body %}
<div class="products">
    {% include '@SingApp/layouts/navigation.html.twig' %}
    <div class="messages">
        <div class="card">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{ dump(sections) }}
                {#{% for section in sections %}#}
                    {#<tr>#}
                        {#<td>{{ section.name }}</td>#}
                        {#<td>#}
                            {#<a href="{{ url('section-delete', {'sectionName': section.id }) }}"#}
                               {#class="btn btn-default btn-sm">#}
                                {#<i class="far fa-trash-alt"></i>Delete#}
                            {#</a>#}
                        {#</td>#}
                    {#</tr>#}
                {#{% endfor %}#}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
